:root {
  --border: 1px solid black;
}

* {
  box-sizing: border-box;
  font-family: "Noto Sans";
  margin: 0;
}

/* Elements */

body {
  height: 100vh;
}

button {
  background: black;
  border-radius: 0.25rem;
  border: none;
  color: white;
  padding: 0.5rem;
}

button:hover {
  background: white;
  color: black;
  border: 1px solid black;
}

main {
  width: 60%;
  margin: 0 auto;
}

/* Classes */

.container {
  display: flex;
  height: 100%;
}

.inner-container {
  width: auto;
}

.login-btns {
  display: flex;
  gap: 1rem;
}

.navbar {
  align-items: center;
  border-bottom: var(--border);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.sidebar {
  border-right: var(--border);
  height: 100%;
  padding: 1rem;
  width: 20%;
}

.sidebar-collapsed {
  border-right: var(--border);
  width: 3%;
}

.sidebar-toggle {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.sidebar-toggle-ctr {
  border: var(--border);
  border-radius: 12.5%;
  padding: 0.25rem;
  margin-top: 1rem;
}

@media (max-width: 400px) {
  .login-btns {
    gap: 0.5rem;
  }

  .navbar {
    padding: 0.5rem;
  }

  .sidebar {
    width: 60%;
  }

  .sidebar-collapsed {
    width: 15%;
  }
}
